<section
  id="home"
  class="bg-gray-50 text-gray-800 min-h-screen flex items-center justify-center"
>
  <div class="container mx-auto px-6 text-center md:text-left">
    <div class="flex flex-col md:flex-row items-center justify-center md:justify-between">
      <!-- Text Content -->
      <div>
        <h1 class="text-4xl md:text-6xl font-bold leading-tight mb-4">
          Hello, I'm <span class="text-primary">Aristotle</span>.
        </h1>
        <p class="text-lg md:text-xl text-gray-600 mb-6">
          Research Engineer | AI Expert | Software Developer
          <br />
          I create intelligent systems and solve complex problems.
        </p>
        <div class="space-x-4">
          <a
            href="#projects"
            class="bg-blue-700 text-white py-3 px-6 rounded-lg shadow-md hover:bg-blue-900 transition"
          >
            View My Work
          </a>
          <a
            href="#contact"
            class="bg-gray-200 py-3 px-6 rounded-lg shadow-md hover:bg-gray-300 transition"
          >
            Contact Me
          </a>
        </div>
      </div>

      <!-- Image -->
      <div class="mt-8 md:mt-0">
        <img
          src="/assets/images/OIG1.jpeg"
          alt="Hero Image"
          class="max-w-sm md:max-w-md mx-auto"
        />
      </div>
    </div>
  </div>
</section>
